@import 'tailwindcss';

@config '../../../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 90%; /* light grey */
    --foreground: 0 0% 10%; /* near black */

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%; /* near black */

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%; /* near black */

    --primary: 217 100% 56%; /* brand blue */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 0 0% 80%; /* medium grey */
    --secondary-foreground: 0 0% 10%; /* near black */

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 40%; /* dark grey */

    --accent: 51 100% 80%; /* brand yellow */
    --accent-foreground: 0 0% 10%; /* near black */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%; /* white */

    --border: 0 0% 80%;
    --input: 0 0% 90%;
    --ring: 217 100% 56%; /* brand blue */

    --radius: 0.2rem;

    --success: 148 60% 60%;
    --warning: 40 100% 65%;
    --error: 0 100% 70%;
  }

  [data-theme='dark'] {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%; /* white */

    --card: 0 0% 12%;
    --card-foreground: 0 0% 98%; /* white */

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%; /* white */

    --primary: 217 100% 60%; /* brand blue */
    --primary-foreground: 0 0% 0%; /* black */

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%; /* white */

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 65%; /* light grey */

    --accent: 51 100% 60%; /* brand yellow */
    --accent-foreground: 0 0% 0%; /* black */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%; /* white */

    --border: 0 0% 25%;
    --input: 0 0% 15%;
    --ring: 217 100% 60%; /* brand blue */

    --success: 148 100% 25%;
    --warning: 40 100% 45%;
    --error: 0 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
